.general {
  height: 100vh;
  background: var(--primary-color);
  overflow: hidden;

  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  gap: var(--offset);

  max-width: 1640px;
  margin: 0 auto;

  font-family: 'Rajdhani', sans-serif;

  padding: var(--offset);
  box-sizing: border-box;
}

.main {
  display: grid;
}

.navmenu {
  background: #ccc;
}

.main {
  grid-auto-flow: column;
  //gap: var(--offset);
  overflow: hidden;

  &__content {
    grid-column: span 2;
  }

  &--chat {
    grid-template-columns: 1fr 2fr;
  }
}

.sidebar {
  //background: #eee;
}

.content {
  display: grid;
  overflow: hidden;
  gap: var(--offset);

  &__row {
    //background: #ddd;
  }
}

.content__row--size-l {
  grid-row: span 2;
}
