.menu {
  z-index: 123;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    gap: 17px;
  }
}

.menu-link {
  display: flex;
  min-height: 44px;
  //display: fl;
  align-items: center;
  text-decoration: none;
  border-radius: 21px;
  padding: 2px 10px 2px 15px;
  box-sizing: border-box;

  &__before,
  &__after {
    flex-shrink: 0;
  }

  &__before {
    margin-right: 14px;
  }

  &__after {
    margin-left: 14px;
  }

  &__text {
    flex: 1 1 auto;
  }

  &--active {
    background: var(--primary-color);
  }
}
